# Dev
.vscode
venv
maintenance.py
clean

# Cython
*.c
*.cpython-38**
build/

# Pip
cygraph.egg-info/
dist/
.eggs

# Python
__pycache__/

# MacOS
.DS_Store

# Misc.
test.py
test.pyx
test.pxd
test_setup.py
test1.pyx
test1.pxd
test.html
TODO.md

# Sphinx
doc