# Dev
.vscode
venv
maintenance.py
clean

# Cython
cygraph/*.c
cygraph/*.cpython-38-darwin.so
cygraph/*.html
cygraph/algorithms/*.c
cygraph/algorithms/*.cpython-38-darwin.so
cygraph/algorithms/*.html
cygraph/graph_/*.c
cygraph/graph_/*.cpython-38-darwin.so
cygraph/graph_/*.html
build/

# Pip
cygraph.egg-info/
dist/
.eggs

# Python
cygraph/__pycache__/
cygraph/algorithms/__pycache__/
cygraph/graph_/__pycache__/
cygraph/tests/__pycache__/

# MacOS
.DS_Store

# Misc.
test.py
test.pyx
test.cpython-38-darwin.so
test.c
test_setup.py
test1.pyx
test1.cpython-38-darwin.so
test1.c
test1.pxd
test.html
TODO.md