# Dev
.vscode
venv

# Cython
cygraph/*.c
cygraph/*.cpython-38-darwin.so
cygraph/cytests/*.cpython-38-darwin.so
cygraph/cytests/*.c
build/

# Pip
cygraph.egg-info/

# Python
cygraph/__pycache__/

# MacOS
.DS_Store

# Misc.
test.pyx
test.cpython-38-darwin.so
test.c
TODO.md